apiVersion: batch/v1
kind: Job
metadata:
  name: adguard-sync-84-to-186
  namespace: family-reunion
  annotations:
    argocd.argoproj.io/hook: PostSync
    argocd.argoproj.io/hook-delete-policy: HookSucceeded
spec:
  template:
    spec:
      containers:
        - name: adguardhome-sync
          image: ghcr.io/bakito/adguardhome-sync:latest
          args: ["run"]
          env:
            - name: LOG_LEVEL
              value: "info"
            - name: ORIGIN_URL
              value: "http://192.168.0.84:3000"
            - name: ORIGIN_USERNAME
              valueFrom:
                secretKeyRef:
                  name: adguard-sync-secret
                  key: username
            - name: ORIGIN_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: adguard-sync-secret
                  key: password
            - name: REPLICA1_URL
              value: "http://192.168.0.186:3000"
            - name: REPLICA1_USERNAME
              valueFrom:
                secretKeyRef:
                  name: adguard-sync-secret
                  key: username
            - name: REPLICA1_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: adguard-sync-secret
                  key: password
            - name: FEATURES_GENERAL_SETTINGS
              value: "false"
            - name: FEATURES_QUERY_LOG_CONFIG
              value: "false"
            - name: FEATURES_STATS_CONFIG
              value: "false"
            - name: FEATURES_CLIENT_SETTINGS
              value: "false"
            - name: FEATURES_SERVICES
              value: "false"
            - name: FEATURES_FILTERS
              value: "false"
            - name: FEATURES_DHCP_SERVER_CONFIG
              value: "false"
            - name: FEATURES_DHCP_STATIC_LEASES
              value: "false"
            - name: FEATURES_DNS_SERVER_CONFIG
              value: "false"
            - name: FEATURES_DNS_ACCESS_LISTS
              value: "false"
            - name: FEATURES_DNS_REWRITES
              value: "true"
      restartPolicy: Never
  backoffLimit: 2
---
apiVersion: batch/v1
kind: Job
metadata:
  name: adguard-sync-186-to-84
  namespace: family-reunion
  annotations:
    argocd.argoproj.io/hook: PostSync
    argocd.argoproj.io/hook-delete-policy: HookSucceeded
spec:
  template:
    spec:
      containers:
        - name: adguardhome-sync
          image: ghcr.io/bakito/adguardhome-sync:latest
          args: ["run"]
          env:
            - name: LOG_LEVEL
              value: "info"
            - name: ORIGIN_URL
              value: "http://192.168.0.186:3000"
            - name: ORIGIN_USERNAME
              valueFrom:
                secretKeyRef:
                  name: adguard-sync-secret
                  key: username
            - name: ORIGIN_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: adguard-sync-secret
                  key: password
            - name: REPLICA1_URL
              value: "http://192.168.0.84:3000"
            - name: REPLICA1_USERNAME
              valueFrom:
                secretKeyRef:
                  name: adguard-sync-secret
                  key: username
            - name: REPLICA1_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: adguard-sync-secret
                  key: password
            - name: FEATURES_GENERAL_SETTINGS
              value: "false"
            - name: FEATURES_QUERY_LOG_CONFIG
              value: "false"
            - name: FEATURES_STATS_CONFIG
              value: "false"
            - name: FEATURES_CLIENT_SETTINGS
              value: "false"
            - name: FEATURES_SERVICES
              value: "false"
            - name: FEATURES_FILTERS
              value: "false"
            - name: FEATURES_DHCP_SERVER_CONFIG
              value: "false"
            - name: FEATURES_DHCP_STATIC_LEASES
              value: "false"
            - name: FEATURES_DNS_SERVER_CONFIG
              value: "false"
            - name: FEATURES_DNS_ACCESS_LISTS
              value: "false"
            - name: FEATURES_DNS_REWRITES
              value: "true"
      restartPolicy: Never
  backoffLimit: 2
