apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: family-reunion
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/dekee/family-reunion.git
    targetRevision: HEAD
    path: k8s
  destination:
    server: https://kubernetes.default.svc
    namespace: family-reunion
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
