apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: family-reunion-ingress
  namespace: family-reunion
  annotations:
    nginx.ingress.kubernetes.io/proxy-body-size: "10m"
spec:
  ingressClassName: nginx
  rules:
    - http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: frontend
                port:
                  number: 80
